{% extends  'base.html'%}

{% block title %} Create Blog{% endblock %}


{% block style %}
<link rel="stylesheet" href="{% static 'BlogApp/create_blog.css' %}">
{% endblock %}


{% block content %}

<div class="wrap">

<h1>{{heading}}</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group">
        <label for="id_name">Title:</label>
        <input type="text" name="name" id="id_name" value="{{ form.name.value }}" class="your-input-class">
        {% if form.name.errors %}
            <p class="error">{{ form.name.errors }}</p>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_description">Description:</label>
        <textarea name="description" id="id_description" class="your-textarea-class">{{ form.description.value }}</textarea>
        {% if form.description.errors %}
            <p class="error">{{ form.description.errors }}</p>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_image">Image:</label>
        <input type="file" name="image" id="id_image" class="your-file-input-class">
        {% if form.image.errors %}
            <p class="error">{{ form.image.errors }}</p>
        {% endif %}
    </div>

    <button type="submit" class="your-button-class">{{button}}</button>
</form>
    </div>



{% endblock %}