{% extends 'base.html' %}


{% block title %} Dashboard {% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'BlogApp/dashboard.css' %}">
{%endblock%}


{%block content%}
   <h1 id="headin-main">See latest blogs!</h1>
<div class="card-container">
  {% for blog in blogs %}

     <div class="card" data-url="{% url 'guest_blog' nickname=blog.owner.nickname blog_id=blog.id %}">
         <img src="{{ blog.image.url }}" alt="blog_img">
         <div class="card-info">
             <h1>{{blog.name|truncatechars:30}}</h1>
             <h3>{{blog.description|truncatechars:50}}</h3>
             <div class="small-info">
                 <div class="owner">
                     <img src="{{blog.owner.avatar.url}}" alt="owner av">
                     <a href="{% url 'guest_profile' blog.owner.id %}">{{blog.owner}}</a>
                 </div>
                 <small>{{blog.created_at}}</small>
             </div>
         </div>
    </div>
    {%endfor%}
</div>


<script>
document.querySelectorAll('.card').forEach(card => {
    card.addEventListener('click', () => {
        window.location.href = card.dataset.url;
    });
});

</script>
{%endblock%}