{% extends 'base.html' %}

{% block title %}Delete Blog - {{blog.name}}{% endblock%}

{%block style%}
<link rel="stylesheet" href="{% static 'BlogApp/delete_blog.css' %}">
{%endblock%}


{%block content%}
<div class="container">
<h1>Are you sure you want to delete {{blog.name}}?</h1>
<h3>All posts connected to this blog will be deleted!</h3>
<form method="POST">
    {% csrf_token %}
<div class="sumbit">
    <a href="{% url 'profile' %}">Nah</a>
    <button type="submit">Yeah, I'm sure</button>
</div>
    </form>
    </div>
{%endblock%}