{% extends 'base.html' %}

{% block title %}{% endblock %}
Post - {{post.title}}



{% block style %}
<link rel="stylesheet" href="{% static 'BlogApp/guest_post.css' %}">
{% endblock %}


{% block content %}
<div class="post-info">
    <div class="post-img">
        <img src="{{post.image.url}}" alt="post-image">
    </div>
    <div class="post-main">
        <h1>{{post.title}}</h1>
        <h3>Blog: {{post.blog}}</h3>
        <h3>Published at: {{post.date}}</h3>
        <h3>Creator: {{blog.owner}}</h3>
    </div>
</div>

<div class="main">
    <h3>{{post.content|linebreaksbr}}</h3>
</div>

{%endblock%}