{% extends 'base.html' %}

{% block title %}Search{% endblock %}


{% block style %}
<link rel="stylesheet" href="{% static 'BlogApp/search.css' %}">

{% endblock %}


{% block content %}
<form action="{% url 'global_search' %}" method="get" >
    <div class="formik">
    <input type="text" name="q"  placeholder="Search..." required value = {{query}}>


    <label > <input type="radio" name="type" value="profiles" {% if search_type == 'profiles' %}checked{% endif %}>Profiles</label>
    <label > <input type="radio" name="type" value="blogs" {% if search_type == 'blogs' %}checked{% endif %}>Blogs</label>
    <label > <input type="radio" name="type" value="posts" {% if search_type == 'posts' %}checked{% endif %}>Posts</label>

    <button type="submit">Search</button>
</div>
</form>


{% if search_type == "profiles" %}
    <div class="profik">
    {% for profile in profiles %}
        <div class="prof-info">
            <img src="{{profile.avatar.url}}" alt="owner av">
        <a href="{% url 'guest_profile' profile.id %}">{{ profile.nickname}}</a>
            </div>
        <hr>

    {% empty %}
        <p>No profiles found.</p>
    {% endfor %}
        </div>
{% elif search_type == "blogs" %}

<div class="card-container">
  {% for blog in blogs %}

     <div class="card" data-url="{% url 'guest_blog' nickname=blog.owner.nickname blog_id=blog.id %}">
         <img src="{{ blog.image.url }}" alt="blog_img">
         <div class="card-info">
             <h1>{{blog.name|truncatechars:30}}</h1>
             <h3>{{blog.description|truncatechars:50}}</h3>
             <div class="small-info">
                 <div class="owner">
                     <img src="{{blog.owner.avatar.url}}" alt="owner av">
                     <a href="{% url 'guest_profile' blog.owner.id %}">{{blog.owner}}</a>
                 </div>
                 <small>{{blog.created_at}}</small>
             </div>
         </div>
    </div>
     {% empty %}
        <p>No blogs found.</p>
    {%endfor%}
</div>


<script>
document.querySelectorAll('.card').forEach(card => {
    card.addEventListener('click', () => {
        window.location.href = card.dataset.url;
    });
});

</script>
{% elif search_type == "posts" %}
   <div class="posts">
    <div class="card-container-post">
  {% for post in posts %}

     <div class="card-post">
         <div>
         <img src="{{ post.image.url }}" alt="post_img">
             </div>
         <div class="card-info-post">
             <h1>{{post.title|truncatechars:30}}</h1>
             <h3>{{post.content|truncatechars:50}}</h3>
             <div class="small-info-post">
                 <small>{{post.date}}</small>
                 <a href="{% url 'guest_post' blog_id=post.blog.id blog_name=post.blog.name post_id=post.id %}">Read Post</a>
             </div>
         </div>
    </div>
         {% empty %}
        <p>No posts found.</p>
    {%endfor%}
    </div>
   </div>

{% endif %}

{% endblock %}